{% extends 'base.html' %}
{% block title %}Add Mode of Acquition{% endblock %}
{% block body %}

<table class="table table-borderless container text-center">
	<form method="POST">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" name="accuisition_name" maxlength="100" placeholder="acquition mode"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-outline-success"></td>
		</tr>
	</form>
</table>
{% endblock %}