{% extends 'base.html' %}
{% block title %}Doctypes{% endblock %}
{% block body %}

<table class="table container text-center">
	<tr>
		<th colspan="2"><a href="{% url 'modeofacqisition:modeofacqisitionadd' %}" class="btn btn-link">Add Mode of Acqisition</a></th>
	</tr>
	{% if accuisitionmodes %}
	<tr>
		<th>DocType Name</th>
		<th></th>
	</tr>
	{% endif %}
{% for accuisitionmode in accuisitionmodes %}
	<tr>
		<td>{{ accuisitionmode.accuisition_name }}</td>
		<td><button onclick="setname('{{accuisitionmode.pk}}','{{accuisitionmode.accuisition_name }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

{% include 'editmodal.html' %}

{% endblock %}