{% extends 'base.html' %}
{% block title %}Author add{% endblock %}
{% block body %}

<table class="table text-center">
	<form method="post">
		{% csrf_token %}
		<tr>
			<td>Author Name</td>
			<td><input type="text" name="author_name" class="form-control"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="submit"class="btn btn-outline-success"></td>
		</tr>
	</form>
</table>

{% endblock %}