{% extends 'base.html' %}
{% block title %}Authors{% endblock %}
{% block body %}

<table class="table container text-center">
	<tr>
		<td colspan="2"><a href="{% url 'authors:addauthor' %}" class="btn btn-link">Add Author</a></td>
	</tr>
	{% if authors %}
		<tr>
			<th>author name</th>
			<th></th>
		</tr>
	{% endif %}
{% for author in authors %}
	<tr>
		<td>{{ author.author_name }}</td>
		<td><button onclick="setname('{{author.pk}}','{{author.author_name }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>
{% include 'pagination.html' %}
{% include 'editmodal.html' %}
<script>
	function setname(pk,name){
		$('#id_name').val(name)
		$('#id_pk').val(pk)
	}
</script>
{% endblock %}