{% extends 'base.html' %}
{% block title %}Add Publisher{% endblock %}
{% block body %}

<table class="table table-borderless container text-center">
	<form method="post">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" placeholder="publisher name" name="pub_name" maxlength="100"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-outline-success"></td>
		</tr>
	</form>
</table>


{% endblock %}