{% extends 'base.html' %}
{% block title %}Publishers{% endblock %}
{% block body %}

<table class="table container text-center">
	<tr>
		<th colspan="2"><a href="{% url 'publisher:addpublisher' %}" class="btn btn-link">Add Publisher</a></th>
	</tr>
	{% if publisher %}
	<tr>
		<th>Publisher Name</th>
		<th></th>
	</tr>
	{% endif %}
	{% for publisher in publishers %}
	<tr>
		<td>{{ publisher.pub_name }} </td>
		<td><button onclick="setname('{{publisher.pk}}','{{publisher.pub_name }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
	{% endfor %}
</table>

{% include 'editmodal.html' %}
{% include 'pagination.html' %}
{% endblock %}