{% extends 'base.html' %}
{% block title %}Issue Books{% endblock %}
{% block body %}

<div class="container">
	<div class="row text-center">
		<div class="col-lg-6 col-md-6">
			<h4><a href="{% url 'homepage:issuebook' %}" class="btn btn-info">Issue Book</a></h4>
		</div>
		<div class="col-lg-6 col-md-6">
			<h5><a href="{% url 'homepage:viewpast' %}" class="btn btn-primary">View past issued books</a></h5>
		</div>
	</div>
</div>
{% if pastissuedbooks %}
	<h4 class="text-center">Books past due date</h4>
	<table class="table container text-center">
		<thead class="table-dark">
			<tr>
				<th>Book Title</th>
				<th>Member Name</th>
				<th>Member Number</th>
				<th>Issue Date</th>
				<th>Return Date</th>
				<th>Issued By</th>
				<th></th>
			</tr>
		</thead>
			{% for past in pastissuedbooks %}
				<tr>
					<td>{{ past.book }}</td>
					<td>{{ past.member_name }}</td>
					<td>{{ past.member_number|default:'' }}</td>
					<td>{{ past.issue_date }}</td>
					<td>{{ past.return_date }}</td>
					<td>{{ past.issued_by }}</td>
					<td>
						<button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#renewModal" onclick="addpkrenew('{{ past.pk }}','{{ past.book }}')">Renew</button>
						<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="addpk('{{ past.pk }}','{{ past.book }}')">Return</button>
					</td>
				</tr>
			{% endfor %}
	</table>
{% endif %}
<br>
{% if todayreturn %}
	<h4 class="text-center">Books to be returned today</h4>
	<table class="table container text-center">
		<thead class="table-dark">
			<tr>
				<th>Book Title</th>
				<th>Member Name</th>
				<th>Member Number</th>
				<th>Issue Date</th>
				<th>Return Date</th>
				<th>Issued By</th>
				<th></th>
			</tr>
		</thead>
		{% for today in todayreturn %}
			<tr>
				<td>{{ today.book }}</td>
				<td>{{ today.member_name }}</td>
				<td>{{ today.member_number|default:'' }}</td>
				<td>{{ today.issue_date }}</td>
				<td>{{ today.return_date }}</td>
				<td>{{ today.issued_by }}</td>
				<td>
					<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="addpk('{{ today.pk }}','{{ today.book }}')">Return</button>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
<br>
{% if issuedbooks %}
	<h4 class="text-center">Other Issued</h4>
	<table class="table container text-center">
		<thead class="table-dark">
			<tr>
				<th>Book Title</th>
				<th>Member Name</th>
				<th>Member Number</th>
				<th>Issue Date</th>
				<th>Return Date</th>
				<th>Issued By</th>
				<th></th>
			</tr>
		</thead>
		{% for issuedbook in issuedbooks %}
			<tr>
				<td>{{ issuedbook.book }}</td>
				<td>{{ issuedbook.member_name }}</td>
				<td>{{ issuedbook.member_number|default:'' }}</td>
				<td>{{ issuedbook.issue_date }}</td>
				<td>{{ issuedbook.return_date|default:'' }}</td>
				<td>{{ issuedbook.issued_by }}</td>
				<td>
					<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="addpk('{{ issuedbook.pk }}','{{ issuedbook.book }}')">Return</button>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="returntitle"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
				<table class="table" class="text-center">
					{% csrf_token %}
					<input type="hidden" name="pk" id="pk">
					<tr>
						<td colspan="2"><textarea name="remark_return" cols="30" rows="5" class="form-control" placeholder="remarks"></textarea></td>
					</tr>
					<tr><td><input type="submit" class="btn btn-outline-success btn-sm"></td></tr>
				</table>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="renewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="renewtitle"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" action="{% url 'homepage:renewdate' %}">
				<table class="table" class="text-center">
					{% csrf_token %}
					<input type="hidden" name="pk" id="pk2">
					<tr>
						<td>Renew Date</td>
						<td><input type="date" class="form-control" name="renewdate"></td>
					</tr>
					<tr><td colspan="2"><input type="submit" class="btn btn-outline-success btn-sm"></td></tr>
				</table>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function addpk(pk, bookname){
		$('#returntitle').text(bookname)
		$('#pk').val(pk)
	}
	function addpkrenew(pk, bookname){
		// alert(bookname)
		$('#renewtitle').text(bookname)
		$('#pk2').val(pk)
	}
</script>
{% endblock %}