{% extends 'base.html' %}
{% block body %}
<style>
	.required:after{
		color: red;
		content: " *";
	}
	.required2{
		color: red;
	}
</style>
<br><br>
<table class="table container text-center">
	<form method="post">
		{% csrf_token %}
	<tr>
		<td class="required">Book</td>
		<td class="input-group">
			<input type="text" name="book" class="form-control" id="id_book">
			<input type="text" class="form-control" id="id_book_title">
			<button type="button" class="btn btn-outline-success" onclick="openwindow()">Search for books</button>
		</td>
	</tr>
	<tr>
		<td class="required">Member Name</td>
		<td><input type="text" class="form-control" name="member_name" maxlength="300" required></td>
	</tr>
	<tr>
		<td>Member Number</td>
		<td><input type="text" class="form-control" name="member_number"></td>
	</tr>
	<tr>
		<td class="required">Issue Date</td>
		<td><input type="date" class="form-control" name="issue_date" required></td>
	</tr>
	<tr>
		<td>Return Date</td>
		<td><input type="date" class="form-control" name="return_date"></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" class="btn btn-outline-success"></td>
	</tr>
	</form>
</table>
<script>
	function openwindow(){
		var myWindow = window.open("{% url 'homepage:searchbooks' %}", "myWindow");
	}
</script>
{% endblock %}