{% extends 'base.html' %}
{% block body %}

<table class="table container text-center table-bordered">
	<tr>
		<td colspan="7"><h4>Past books Issued</h4></td>
	</tr>
	<tr>
		<th>Book Title</th>
		<th>Member Name</th>
		<th>Member Number</th>
		<th>Issue Date</th>
		<th>Return Date</th>
		<th>remark</th>
		<th>Issued By</th>
	</tr>
	{% for issuedbook in issuedbooks %}
		<tr>
			<td>{{ issuedbook.book }}</td>
			<td>{{ issuedbook.member_name }}</td>
			<td>{{ issuedbook.member_number|default:'' }}</td>
			<td>{{ issuedbook.issue_date }}</td>
			<td>{{ issuedbook.return_date|default:'' }}</td>
			<td>{{ issuedbook.remark_return }}</td>
			<td>{{ issuedbook.issued_by }}</td>
		</tr>
	{% endfor %}
</table>

{% include 'pagination.html' %}


{% endblock %}