{% extends 'base.html' %}
{% block title %}Books{% endblock %}
{% block body %}
<style>
	div form input,select,button{
		margin-top: 10px;
	}
</style>
<table class="table container text-center table-sm">
	<tr>
		<th colspan="5">
			<button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Search Books</button>
		</td>
	</tr>
	{% if books %}
	<tr>
		<th>Accession</th>
		<th>Title</th>
		<th>Publisher</th>
		<th>Author</th>
		<th>Year of Publication</th>
		<th></th>
	</tr>
	{% endif %}
	{% for book in books %}
	<tr>
		<td>{{ book.accession_number|default:'' }}</td>
		<td>{{ book.title }}</td>
		<td>{{ book.publisher|title }}</td>
		<td>{{ book.author.all|join:', '|title }}</td>
		<td>{{ book.year }}</td>
		<td><button type="button" class="btn btn-outline-info btn-sm" onclick="ChangeOpener('{{ book.pk }}','{{ book.title }}')">Select</button></td>
	</tr>
	{% endfor %}
</table>

{% include 'pagination.html' %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Search Using</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="text-center">
					<input type="text" name="title" placeholder="title" class="form-control">
					<input type="text" name="year" placeholder="year of publication" class="form-control">
					<input type="text" name="accession_number" placeholder="accession number" class="form-control">
					<select name="publisher" class="form-control">
						<option value="">-- select publisher --</option>
						{% for publisher in publishers %}
						<option value="{{ publisher.pub_name|title }}" {% if publisher.pub_name|title == request.GET.publisher|title %}selected{% endif %}>{{ publisher.pub_name|title }}</option>
						{% endfor %}
					</select>
					<select name="author" class="form-control">
						<option value="">-- select author --</option>
						{% for author in authors %}
						<option value="{{ author.author_name|title }}" {% if author.author_name|title == request.GET.author|title %}selected{% endif %}>{{ author.author_name|title }}</option>
						{% endfor %}
					</select>
					<input onclick="removeview()" type="submit" class="btn btn-outline-success btn-sm">
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function ChangeOpener (id_book,id_book_title) {
		var openerWindow = window.opener;
		openerWindow.document.getElementById("id_book").value=id_book;
		openerWindow.document.getElementById("id_book_title").value=id_book_title;
		window.close();
		return;
	}

</script>
{% endblock %}