{% extends 'loginpage/baselogin.html' %}
{% block title %} {{ book.title }} {% endblock %}
{% block body %}
<br><br>
<table class="table text-center container">
	<tr>
		<td>Title</td>
		<td>{{ book.title }}</td>
	</tr>
	<tr>
		<td>Subtitle</td>
		<td>{{ book.subtitle|default:'' }}</td>
	</tr>
	<tr>
		<td>Author</td>
		<td>{{ book.author.all|join:', '|title }}</td>
	</tr>
	<tr>
		<td>Publisher</td>
		<td>{{ book.publisher|title }}</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>{{ issued }}</td>
	</tr>
</table>

{% endblock %}