<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">D&SC Library Management System</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						
					</li>
				</ul>
				<!-- <a href="{% url 'login:loginuser' %}" class="btn btn-outline-danger">login</a> -->
				<form action="{% url 'login:loginuser' %}">
					<input type="hidden" value="{{ request.GET.next }}" name="next">
					<input type="submit" class="btn btn-outline-danger" value="login">
				</form>
			</div>
		</div>
	</nav>
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  				{{ message }}
  				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endif %}
	<form method="post" class="container" style="margin-top: 50px;">
	<table class="table text-center">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" name="first_name" placeholder="First Name" maxlength="100" required></td>
		</tr>
		<tr>
			<td><input type="text" class="form-control" name="last_name" placeholder="Last Name" maxlength="100" required></td>
		</tr>
		<tr>
			<td><input type="text" class="form-control" name="username" placeholder="username" maxlength="100" required></td>
		</tr>
		<tr>
			<td><input type="password" class="form-control" name="password1" placeholder="password1" required></td>
		</tr>
		<tr>
			<td><input type="password" class="form-control" name="password2" placeholder="Re enter password" required></td>
		</tr>
		<tr><td><input type="submit" class="btn btn-outline-success"></td></tr>
	</table>
	</form>
</body>
</html>