{% extends 'loginpage/baselogin.html' %}
{% block title %}Login Home{% endblock %}
{% block body %}
<form class="container" style="margin-top: 100px;" action="{% url 'login:searchforbook' %}">
	<div class="input-group">
		<input type="text" class="form-control" name="title" placeholder="search book by title">
		<button class="btn btn-success">Search</button>
	</div>
</form>
{% endblock %}