{% extends 'loginpage/baselogin.html' %}
{% block body %}
{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  				{{ message }}
  				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endif %}
	<table class="table container text-center">
		<form method="post">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
		<tr>
			<td><input type="text" class="form-control" placeholder="username" name="username"></td>
		</tr>
		<tr>
			<td><input type="password" class="form-control" placeholder="password" name="password"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-outline-success" value="submit"></td>
		</tr>
		</form>
	</table>

{% endblock %}