{% extends 'loginpage/baselogin.html' %}
{% block title %}Search Result Login{% endblock %}
{% block body %}

<table class="table container text-center">
	<thead class="table-dark">
		<th>Title</th>
		<th>Author</th>
		<th>Publisher</th>
	</thead>
{% for book in books %}
	<tr>
		<td><a href="{% url 'login:bookstatus' book.pk %}">{{ book.title }}</a></td>
		<td>{{ book.author.all|join:', '|title }}</td>
		<td>{{ book.publisher|title }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}