{% extends 'base.html' %}
{% block title %}Add Accompaning{% endblock %}
{% block body %}
<br><br>
<table class="container table table-borderless text-center">
	<form method="post">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" name="accom_name" placeholder="Accompanying materials name" maxlength="100"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-outline-success"></td>
		</tr>
	</form>
</table>

{% endblock %}