{% extends 'base.html' %}
{% block title %}Accompanying Materials{% endblock %}
{% block body %}

<table class="table table-bordlerss container text-center">
	<tr>
		<td colspan="2"><a href="{% url 'accompanyingmaterials:addaccompanying' %}" class="btn btn-link">Add Accompanying Materials</a></td>
	</tr>
	{% if accommaterials %}
	<tr>
		<th>Accompanying Materials</th>
		<th></th>
	</tr>
	{% endif %}
	{% for accommaterial in accommaterials %}
		<tr>
			<td>{{ accommaterial.accom_name }}</td>
			<td><button onclick="setname('{{accommaterial.pk}}','{{accommaterial.accom_name }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
		</tr>
	{% endfor %}
</table>

{% include 'editmodal.html' %}

{% endblock %}