{% extends 'base.html' %}
{% block title %}Add collection type{% endblock %}
{% block body %}

<table class="table table-borderless container text-center">
	<form method="post">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" name="collection_name" name="100" placeholder="Collection type name"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-outline-success"></td>
		</tr>
	</form>
</table>

{% endblock %}