{% extends 'base.html' %}
{% block title %}Collection type{% endblock %}
{% block body %}

<table class="table container text-center">
	<tr>
		<td colspan="2">
			<a href="{% url 'collectiontype:addcollectiontype' %}" class="btn btn-link">Add Collection type</a>
		</td>
	</tr>
	{% if collectiontypes %}
	<tr>
		<th>Collection Type</th>
		<th></th>
	</tr>
	{% endif %}
	{% for collectiontype in collectiontypes %}
		<tr>
			<td>{{ collectiontype.collection_name }}</td>
			<td><button onclick="setname('{{collectiontype.pk}}','{{collectiontype.collection_name }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
		</tr>
	{% endfor %}
</table>

{% include 'editmodal.html' %}

{% endblock %}