{% extends 'base.html' %}
{% block title %}Members{% endblock %}
{% block body %}
<br>
	<form method="post" enctype="multipart/form-data" class="container text-center">
		{% csrf_token %}
		<table class="table table-bordered">
			<tr>
				<td>Name of Member</td>
				<td><input type="text" name="name" class="form-control" placeholder="name"></td>
			</tr>
			<tr>
				<td>Registration Number</td>
				<td><input type="text" name="regno" class="form-control" placeholder="registration no"></td>
			</tr>
			<tr>
				<td>Date of Registration</td>
				<td><input type="date" name="dateofreg" class="form-control"></td>
			</tr>
			<tr>
				<td>Valid upto</td>
				<td><input type="date" name="validupto" class="form-control"></td>
			</tr>
			<tr>
				<td>Photo</td>
				<td><input type="file" name="photo" class="form-control" accept="image/png, image/gif, image/jpeg"></td>
			</tr>
			<tr>
				<td>Application Documents</td>
				<td><input type="file" name="documents" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" class="btn btn-outline-success"></td>
			</tr>
		</table>
	</form>

{% endblock %}