{% extends 'base.html' %}
{% block title %}Members{% endblock %}
{% block body %}

<table class="table table-bordered container text-center">
	<tr>
		<td colspan="4"><a href="{% url 'members:addmember' %}" class="btn btn-outline-success">Add member</a></td>
	</tr>
	{% for member in members %}
	<tr>
		<td>{{ member.name }}</td>
		<td>{{ member.regno }}</td>
		<td><a href="{% url 'members:viewmember' member.pk %}" class="btn btn-outline-success btn-sm">View</a></td>
		<td><button onclick="setname('{{member.pk}}','{{member.name}}','{{member.regno}}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
	{% endfor %}
</table>

<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					<table class="table">
						{% csrf_token %}
						<tr>
							<td><input type="text" name="name" id="id_name" class="form-control"></td>
							<input type="hidden" name="pk" id="id_pk">
						</tr>
						<tr><td><input type="text" name="regno" id="id_regno" class="form-control"></td></tr>
						<tr>
							<td><input type="submit" class="btn btn-outline-success"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function setname(pk,name,regno){
		$('#id_name').val(name)
		$('#id_pk').val(pk)
		$('#id_regno').val(regno)
	}
</script>

{% endblock %}