<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<style>
		body{
			font-size: 11px;
		}
		p{
			margin-top: 0px;
			margin-bottom: 0px;
			text-align: center;
			font-weight: bold;
		}
		hr{
			margin: 5px;
		}
	</style>
</head>
<body style="">
	<div class="row" style="width: 604px; margin-left: 10px; margin-top: 10px; height: 207px;">
		<div class="col-md-6" style="border: 1px solid black;">
			<p>District & Sessions Court, Gangtok, Sikkim</p>
			<p>Library Membership Card</p>
			<div class="row">
				<div class="col-md-5" style="margin-top: 5px; padding-left: 30px;">
					<img src="{{ member.photo.url }}" height="80">
				</div>
				<div class="col-md-7">
					<table class="">
						<tr>
							<td>Name {{ member.name }}</td>
						</tr>
						<tr>
							<td>Reg No. {{ member.regno }}</td>
						</tr>
						<tr>
							<td>Reg date: {{ member.dateofreg }}</td>
						</tr>
						<tr>
							<td>Valid upto: {{ member.validupto }}</td>
						</tr>
					</table>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-5">Sign of Holder</div>
				<div class="col-md-7">Sign of Member Secretary</div>
			</div>
		</div>

		<div class="col-md-6" style="border: 1px solid black;"> 
			<br>
			<ol>
				<li>DO NOT TAKE THE BOOK OUTSIDE THE COURT PREMISSIS WITHOUT PERMISSION</li>
				<li>IF THE BOOK IS LOST, SAME SHALL BE REPLACED</li>
				<li>BOOK SHOULD BE RETURNED WITHIN THE TIME PERIOD</li>
				<li>THE MEMBER'S SHOULD RETURN THE LAW BOOKS IMMEDIATELY IF THE SAME IS REQUIRED URGENTRY</li>
			</ol>
		</div>
	</div>
</body>
</html>