{% extends 'base.html' %}
{% block title %}Members{% endblock %}
{% block body %}
{% load customtag %}
<table class="table table-bordered container text-center">
	<tr>
		<td>Name</td>
		<td>{{ member.name }} </td>
	</tr>
	<tr>
		<td>Registration No.</td>
		<td>{{ member.regno }}</td>
	</tr>
	<tr>
		<td>Date of Registration</td>
		<td>{{ member.dateofreg }}</td>
	</tr>
	<tr>
		<td>Valid upto</td>
		<td>{{ member.validupto }}</td>
	</tr>
	<tr>
		<td>Documents</td>
		<td>{% if member.documents and member.documents|file_exists  %}<a href="{{ member.documents.url }}" target="_blank">view</a>{% endif %}</td>
	</tr>
	<tr>
		<td>photo</td>
		<td><img src="{{ member.photo.url }}" height="200"></td>
	</tr>
	<tr>
		<td colspan="2"><a href="{% url 'members:printcard' member.pk %}" class="btn btn-outline-success btn-sm">Print</a></td>
	</tr>
</table>

{% endblock %}