{% extends 'base.html' %}
{% block title %}Bindings{% endblock %}
{% block body %}

<table class="table container text-center">
	<tr>
		<th colspan="2"><a href="{% url 'bindingtypes:addbinding' %}" class="btn btn-link">Add Binding Types</a></th>
	</tr>
	{% if bindingtypes %}
	<tr>
		<th>Binding Type</th>
		<th></th>
	</tr>
	{% endif %}
{% for bindingtype in bindingtypes %}
	<tr>
		<td>{{ bindingtype.bindingtypename }}</td>
		<td><button onclick="setname('{{bindingtype.pk}}','{{bindingtype.bindingtypename }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

{% include 'editmodal.html' %}

{% endblock %}