{% extends 'base.html' %}
{% block title %}Book form{% endblock %}
{% block body %}
<style>
	.required:after{
		color: red;
		content: " *";
	}
	.required2{
		color: red;
	}
</style>
<table class="table container text-center">
	<form method="post">
		{% csrf_token %}
		<tr>
			<td class="required">Title</td>
			<td><input type="text" maxlength="500" class="form-control" name="title" value="{{ book.title }}" required></td>
		</tr>
		<tr>
			<td>Subtitle</td>
			<td><input type="text" maxlength="500" class="form-control" name="subtitle" value="{{ book.subtitle|default:'' }}"></td>
		</tr>
		<tr>
			<td>Authors</td>
			<td><select name="author" class="form-control" multiple>
				{% for author in authors %}
					<option value="{{ author.pk }}" {% if author in book.author.all %}selected{% endif %}>{{ author.author_name }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Edition</td>
			<td><input type="text" name="edition" class="form-control" maxlength="10" value="{{ book.edition|default:'' }}"></td>
		</tr>
		<tr>
			<td>Year</td>
			<td><input type="number" name="year" class="form-control" value="{{ book.year|default:'' }}"></td>
		</tr>
		<tr>
			<td class="required">Place</td>
			<td><input type="text" name="place" class="form-control" maxlength="500" value="{{ book.place |default:''}}" required></td>
		</tr>
		<tr>
			<td>Publisher</td>
			<td>
				<select name="publisher" class="form-control">
					<option value=""> - - select publisher - - </option>
					{% for publisher in publishers %}
						<option value="{{ publisher.pk }}" {% if publisher == book.publisher %} selected {% endif %}>{{ publisher.pub_name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Number of Volumes</td>
			<td><input type="text" name="num_of_vols" class="form-control" value="{{ book.num_of_vols|default:'' }}"></td>
		</tr>
		<tr>
			<td>Accompanying Materials</td>
			<td><select name="accompaning_materials" class="form-control" multiple>
				{% for accmaterial in accmaterials %}
					<option value="{{ accmaterial.pk }}" {% if accmaterial == book.accompaning_materials %} selected {% endif %}>{{ accmaterial.accom_name }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Item Price</td>
			<td><input type="text" name="item_price" class="form-control" value="{{ book.item_price|default:'' }}" ></td>
		</tr>
		<tr>
			<td>vendor</td>
			<td><select name="vendor" class="form-control">
				<option value="">- - select vendor - -</option>
				{% for vendor in vendors %}
					<option value="{{ vendor.pk }}" {% if vendor == book.vendor %} selected {% endif %}>{{ vendor.vendor_name }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Invoice Date</td>
			<td><input type="date" name="invoice_date" class="form-control" value="{{ book.invoice_date|date:'c' }}"></td>
		</tr>
		<tr>
			<td>Invoice Nnumber</td>
			<td><input type="number" name="invoice_number" class="form-control" value="{{ book.invoice_number|default:'' }}"></td>
		</tr>
		<tr>
			<td>Accession Number</td>
			<td><input type="text" name="accession_number" class="form-control" value="{{ book.accession_number|default:'' }}"></td>
		</tr>
		<tr>
			<td>Accession Date</td>
			<td><input type="date" name="accession_date" class="form-control" value="{{ book.accession_date|date:'c' }}"></td>
		</tr>
		<tr>
			<td>Type of binding</td>
			<td><select name="type_of_binding" class="form-control">
				<option value="">- - selected type of binding - -</option>
				{% for bindingtype in bindingtypes %}
					<option value="{{ bindingtype.pk }}" {% if bindingtype == book.type_of_binding %} selected {% endif %}>{{ bindingtype.bindingtypename }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Doctype </td>
			<td>
				<select name="doc_type" class="form-control">
					<option value="">- - select doc type - -</option>
					{% for doctype in doctypes %}
						<option value="{{ doctype.pk }}" {% if doctype == book.doc_type %} selected {% endif %}>{{ doctype.doctype_name }} </option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>location</td>
			<td><textarea name="location" cols="30" rows="5"class="form-control">{{ book.location|default:'' }}</textarea></td>
		</tr>
		<tr>
			<td>Type of collection</td>
			<td>
				<select name="type_of_collection" class="form-control">
					<option value="">- - select type of collection - -</option>
					{% for typeofcollection in typeofcollections %}
					<option value="{{ typeofcollection.pk }}" {% if typeofcollection == book.type_of_collection %} selected {% endif %}>{{ typeofcollection.collection_name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Editor</td>
			<td>
				<input type="text" name="editor" class="form-control" value="{{ book.editor|default:'' }}">
			</td>
		</tr>
		<tr>
			<td>mode of Acquisition</td>\
			<td>
				<select name="mode_of_accuisition" class="form-control">
					<option value="">- - select mode of accusitiion - -</option>
					{% for modeofacquisition in modeofacquisitions %}
					<option value="{{ modeofacquisition.pk }}" {% if modeofacquisition == book.mode_of_accuisition %} selected {% endif %}>{{ modeofacquisition.accuisition_name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="id_ceased">Ceased</label></td>
			<td style="text-align: left;"><input type="checkbox" id="id_ceased" name="ceased" {% if book.ceased == True %}checked{% endif %}></td>
		</tr>
		<tr>
			<td>Cease Date</td>
			<td><input type="date" name="ceases_exist_date" class="form-control" value="{{ book.ceases_exist_date|date:'c' }}"></td>
		</tr>
		<tr>
			<td>Remarks</td>
			<td><textarea name="remarks" cols="30" rows="4" class="form-control">{{ book.remarks|default:'' }}</textarea></td>
		</tr>
		<tr>
			<td colspan="2"><button class="btn btn-outline-success">Submit</button></td>
		</tr>
	</form>
</table>

{% endblock %}