{% extends 'base.html' %}
{% block title %}Books{% endblock %}
{% block body %}
{% load customfilter %}
<style>
	div form input,select,button{
		margin-top: 10px;
	}
</style>
<table class="table container text-center">
	<tr>
		<th colspan="7">
			<a href="{% url 'books:addbook' %}" class="btn btn-link">Add Books</a>
		</td>
	</tr>
	<tr>
		<th colspan="7">
			<button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Search Books</button>
			<a href="/books/" class="btn btn-link">Reset Search</a>
			<a href="{% url 'books:downloadcsv' %}?{{ request.get_full_path|csvdownloadurlfix }}">Download csv</a>
		</td>
	</tr>
	{% if books %}
	<tr>
		<th>cat no</th>
		<th>Accession Number</th>
		<th>Title</th>
		<th>Publisher</th>
		<th>Author</th>
		<th>Year of Publication</th>
		<th></th>
	</tr>
	{% endif %}
	{% for book in books %}
	<tr>
		<td>{{ book.pk }}</td>
		<td>{{ book.accession_number|default:'' }}</td>
		<td>{{ book.title }}</td>
		<td>{{ book.publisher|title }}</td>
		<td>{{ book.author.all|join:', '|title }}</td>
		<td>{{ book.year }}</td>
		<td><a href="{% url 'books:editbook' book.pk %}" class="btn btn-outline-primary btn-sm">Edit</a></td>
	</tr>
	{% endfor %}
</table>

{% include 'pagination.html' %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Search Using</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="text-center">
					<input type="text" name="title" placeholder="title" class="form-control" value="{{ request.GET.title|default:'' }}">
					<input type="text" name="accessionnum" placeholder="Accession number" class="form-control" value="{{ request.GET.accessionnum|default:'' }}" autocomplete="off">
					<select name="publisher" class="form-control">
						<option value="">-- select publisher --</option>
						{% for publisher in publishers %}
						<option value="{{ publisher.pub_name|title }}" {% if publisher.pub_name|title == request.GET.publisher|title %}selected{% endif %}>{{ publisher.pub_name|title }}</option>
						{% endfor %}
					</select>
					<select name="author" class="form-control">
						<option value="">-- select author --</option>
						{% for author in authors %}
						<option value="{{ author.author_name|title }}" {% if author.author_name|title == request.GET.author|title %}selected{% endif %}>{{ author.author_name|title }}</option>
						{% endfor %}
					</select>
					<input type="hidden" id="showreporthidden" name="showreport">
					<input onclick="removeview()" type="submit" class="btn btn-outline-success btn-sm">
					<button onclick="addview()" class="btn btn-outline-warning btn-sm" formtarget="_blank">View Report</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function addview(){
		$('#showreporthidden').val('true');
	}
	function removeview(){		
		$('#showreporthidden').val('');
	}
</script>
{% endblock %}