<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<title>Book Report</title>
	<style>
		@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}
	</style>
</head>
<body>
	<table class="table table-bordered text-center table-sm">
		<tr>
			<th></th>
			<th>Title</th>
			<!-- <th>Subtitle</th> -->
			<th>Author</th>
			<th>Publisher</th>
			<th>Location</th>
			<th>Ceased</th>
		</tr>
	{% for book in books %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ book.title }}</td>
			<!-- <td>{{ book.subtitle }}</td> -->
			<td>{{ book.author.all|join:', '|title }}</td>
			<td>{{ book.publisher|title }}</td>
			<td>{{ book.location|title }}</td>
			<td>
				{% if book.ceased == True %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}
				</td>

		</tr>
	{% endfor %}
	</table>
</body>
</html>