<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
	
	<link href="{% static 'bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="{% static 'bootstrap5/jquery.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<style>
		.nav-item{
			padding: 5px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding: 1px;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Welcome {{ request.user.username }}</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item" {% if '/' == request.path or '/issuebook' in request.path or '/viewpast' in request.path %}style="background-color: #2F4F4F"{% endif %}>
						<a class="nav-link active" aria-current="page" href="{% url 'homepage:index' %}"  >Home</a>
					</li>
					<li class="nav-item" {% if '/books/' in request.path %}style="background-color: #2F4F4F"{% endif %}>
						<a class="nav-link active" aria-current="page" href="{% url 'books:index' %}">Books</a>
					</li>
					<li class="nav-item" {% if '/authors/' in request.path %}style="background-color: #2F4F4F"{% endif %}>
						<a class="nav-link active" aria-current="page" href="{% url 'authors:index' %}" >Authors</a>
					</li>

					<li class="nav-item" {% if '/members/' in request.path %}style="background-color: #2F4F4F"{% endif %}>
						<a class="nav-link active" aria-current="page" href="{% url 'members:index' %}" >Members</a>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Other data
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item {% if 'publisher' in request.path %}active{% endif %}" aria-current="page" href="{% url 'publisher:index' %}" \>Publisher</a>
							</li>
							<li>
								<a class="dropdown-item {% if 'accompanyingmaterials' in request.path %}active{% endif %}" aria-current="page" href="{% url 'accompanyingmaterials:index' %}">Accompanying Materials</a>
							</li>
							<li>
								<a class="dropdown-item {% if '/vendor/' in request.path %}active{% endif %}" aria-current="page" href="{% url 'vendor:index' %}">Vendor</a>
							</li>
							<li>
								<a class="dropdown-item {% if '/bindingtypes/' in request.path %}active{% endif %}" aria-current="page" href="{% url 'bindingtypes:index' %}">Type of Binding</a>
							</li>
							<li>
								<a class="dropdown-item {% if '/doctypes/' in request.path %}active{% endif %}" aria-current="page" href="{% url 'doctypes:index' %}">Doctype</a>
							</li>
							<li>
								<a class="dropdown-item {% if '/collectiontype/' in request.path %}active{% endif %}" aria-current="page" href="{% url 'collectiontype:index' %}">Type of Collection</a>
							</li>
							<li>
								<a class="dropdown-item {% if '/modeofacqisition/' in request.path %}active{% endif %}" aria-current="page" href="{% url 'modeofacqisition:index' %}">Mode of Acquisition</a>
							</li>
						</ul>
					</li>
				</ul>
				<div>
					<a href="{% url 'login:logoutuser' %}" class="btn btn-outline-danger">Logout</a>
				</div>
			</div>
		</div>
	</nav>
	<div style="height: 80px;">sdf</div>
	{% block body %}
	{% endblock %}
</body>
</html>