{% extends 'base.html' %}
{% block title %}Add doctypes{% endblock %}
{% block body %}

<table class="table text-center container">
	<form method="post">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" name="doctype_name" maxlength="100" placeholder="document type name"></td>
		</tr>
		<tr>
			<td><input type="submit" class="btn btn-outline-success"></td>
		</tr>
	</form>
</table>

{% endblock %}