{% extends 'base.html' %}
{% block title %}Doctypes{% endblock %}
{% block body %}

<table class="table container text-center">
	<tr>
		<th colspan="2"><a href="{% url 'doctypes:doctypeadd' %}" class="btn btn-link">Add Doc Type</a></th>
	</tr>
	{% if doctypes %}
	<tr>
		<th>DocType Name</th>
		<th></th>
	</tr>
	{% endif %}
{% for doctype in doctypes %}
	<tr>
		<td>{{ doctype.doctype_name }}</td>
		<td><button onclick="setname('{{doctype.pk}}','{{doctype.doctype_name }}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

{% include 'editmodal.html' %}

{% endblock %}